<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/pass_reset.css" />
    <link rel="icon" href="../static/UPOD.png" type="UPOD">
    <script src="https://unpkg.com/htmx.org@2.0.4" 
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
    crossorigin="anonymous"></script>
    <title>UPOD</title>
  </head>

<body>

  <div class="header">
    <div class="ilc_logo">
          <img src="../static/ilc_logo.png" alt="ILC Logo">
    </div>
      <h1>UP Mindanao Interactive Learning Center</h1>
  </div>

  <form>
    <div class="container">
        <h1>
          Password Reset!
        </h1>
        <p>
          We have sent you an email. If you have not received it please check your spam folder. <br> Otherwise, contact us if you do not receive it in a few minutes."</a>
          </p>
        </p>
          <div class="sign-in_button">
          </div>
    </div>
  </form>

  <div class="footer">
        <h1>Contact Us</h1>
        
            <a href="https://www.facebook.com/ilclrcupmindanao" target="_blank">
                <i class="fa-brands fa-facebook"></i>
                Connect with us on Facebook
            </a> 
            <a href="https://mail.google.com/" target="_blank">
                <i class="fa fa-envelope"></i>
                ilc.upmindanao@up.edu.ph
            </a>
            <br>
    </div>

</body>

</html>