[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
psycopg2 = "*"
django-allauth = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
