<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Successful</title>
</head>
<body>

<h1>Reservation Successful</h1>

<!--Room Details-->

<!--List of Attendees-->
<p><strong>Attendee List (Current):</strong></p>
<ul>
    <li>List ID: {{ list_id }} </li>
    {% for attendee in attendee_list.listings.all %}
        <li>Attendee ID: {{ attendee.id }}, User: {{ attendee.user }}</li>
    {% endfor %}
</ul>

<!-- ======================================================================================================================================== -->
{% comment %} <p><strong>All Attendee Lists and their Attendees:</strong></p>
{% for list_data in attendeees_per_attendee %}
    <h3>Attendee List ID: {{ list_data.attendee_list_id }}</h3>
    {% if list_data.attendees %}
        <ul>
            {% for attendee in list_data.attendees %}
                <li>Attendee ID: {{ attendee.attendee_id }}, User: {{ attendee.user }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No attendees in this list.</p>
    {% endif %}
{% endfor %} {% endcomment %}

<p>Thank you for your reservation!</p>

<!-- Add a button that links back to the reservation creation page -->
<a href="{% url 'create_reservation' %}">
    <button type="button">Go Back to Reservation</button>
</a>

</body>
</html>
