{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% load static %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'upodusers/css/pass_reset_done.css' %}">
    <link rel="icon" href="{% static 'UPOD.png' %}" type="image/png">
    <script src="https://unpkg.com/htmx.org@2.0.4" 
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
        crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block content %}

<div class="container">
    <h1>{% trans "Password Reset!" %}</h1>
    <p>
        {% blocktrans %}
        We have sent you an email. If you have not received it, please check your spam folder. <br>
        Otherwise, contact us if you do not receive it in a few minutes.
        {% endblocktrans %}
    </p>
</div>

{% endblock content %}
