{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="stylesheet" href="{% static 'userdashboard/css/landing.css' %}">
    <script src="https://unpkg.com/htmx.org@2.0.4" 
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
    crossorigin="anonymous"></script>
    <title>UPOD</title>
  </head>
  <body>
    <nav>
      <div class="nav-logo"><a href="landing.html">UPOD</a></div>
      <ul class="nav-links">
        <li class="landing"><a href="{% url 'dashboard:dashboardhome' %}">Home</a></li>
        <li class="registration"><a href="{% url 'rooms:room_selection' %}">Registration</a></li>
        <li class="events"><a href="{% url 'events:events' %}">Events</a></li>
        <li class="my_qr"><a href="{% url 'dashboard:about_us' %}">About Us</a></li>
        
          <div class="profile-dropdown">
              <a href="../templates/profile.html" title="My Profile">
              <i class="fa-regular fa-circle-user"></i>
              </a>
            <ul class="dropdown-menu">
              <li><a href="../templates/profile.html">View Profile</a></li>
              <form method="POST" no_visible_fields=True >
                {% csrf_token %}
                <li class="logout">
                  <a  hx-post="{% url 'dashboard:logout_views' %}?next=/" 
                      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  hx-target="body" 
                  hx-swap="none" 
                  hx-confirm="Are you sure you want to log out?">Logout</a>
                </li>
              </form>
            </ul>
          </div>
      </ul>
    </nav>
    <section class="container">
      <div class="content__container">
        <h1>
          What is<br/>
          <span class="heading__1">UPOD?</span><br/>
        </h1>
        <p>
          Don't just study alone — learn together! Join UPOD and 
          connect with fellow students, share ideas, and boost your understanding through collaborative learning.
          Seamlessly blending technology and education, we provide an
          immersive learning environment that combines interactive lessons,
          virtual classrooms, and intelligent feedback.
         <h3>
          Reserve your seat today and make studying more engaging, effective, and fun!"
         </h3>
        </p>
        <a href="{% url 'rooms:room_selection' %}" class="nav__btn">Register</a>
      </div>
      <div class="image__container">
        <img src="{% static 'userdashboard/images/ilclogin.jpg' %}" alt="header" />
        <img src="{% static 'userdashboard/images/ilc_landing.jpg' %}" alt="header" />
      </div>
    </section>

    <section class="engagement__container">
      <div class="engagement__content">
          <h1>
            Engage with<br/>
            <span class="heading__1">UPOD</span><br/>
          </h1>
        <p>
          Join our community of learners and educators, where you can share
          knowledge, collaborate on projects, and participate in discussions.
          With UPOD, you can connect with like-minded individuals and expand your
          horizons.
        </p>
    
        <div class="image-engage">
          <img src="{% static 'userdashboard/images/ilc_pic1.jpg' %}" alt="header" />
          <img src="{% static 'userdashboard/images/ilc2.jpg' %}" alt="header" />
        </div>
      </div>
    </section>

    <footer class="footer">
      <hr />
      <div class="footer-content">
        <a href="https://www.facebook.com/ilclrcupmindanao">Contact Us</a>
        <span>2025 UPOD. All Rights Reserved.</span>
      </div>
    </footer>
  </body>
</html>
